version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: tasks_postgres
    ports:
      - "5436:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: tasks_db
    volumes:  
    - postgres_data:/var/lib/postgresql/data
    - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data: